<!-- LAYOUT -->

<nz-page-header
class="site-page-header"
onclick="history.back()"
nzBackIcon
[nzTitle]="titleHeader"
nzSubtitle="My Account"
></nz-page-header>
<ng-template #titleHeader><fa-icon [icon]="faChartLine"></fa-icon>Dashboard</ng-template>
<div class="card-profile">
    <div class="profile">
        <nz-card [nzBordered]="false" [nzTitle]="titleTemplate" [nzExtra]="extraTemplate">
            <div  class="profile-item">
                <nz-carousel nzAutoPlay>
                    <div nz-carousel-content *ngFor="let card of cards">
                      <img alt="credit card" src="{{ card.path }}">
                    </div>
                  </nz-carousel>
            </div>
            <div class="profile-item">
                <h1>€ 3.20</h1>
                <p class="label">Current balance</p>
                <button  onclick="window.location= '/payment'" nz-button nzType="primary"><fa-icon [icon]="faMoneyBillTrendUp"></fa-icon>Make a payment</button>
                <button  onclick="window.location= '/'" nz-button nzType="default"><fa-icon [icon]="faRightFromBracket"></fa-icon>Sign out</button>
                <p>Welcome, I think you are a little broke, and we will steal you the rest</p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,192L48,176C96,160,192,128,288,106.7C384,85,480,75,576,106.7C672,139,768,213,864,213.3C960,213,1056,139,1152,112C1248,85,1344,107,1392,117.3L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
        </nz-card>
    </div>
    <app-chart></app-chart>
</div>
<ng-template #titleTemplate>
    <img alt="Profile picture" class="avatar" src="../../assets/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png">
</ng-template>

<ng-template #extraTemplate>
    <a href="/transactions"><fa-icon [icon]="faMoneyBillTransfer"></fa-icon>All Transactions</a>
</ng-template>

<div class="inner-content">

<div class="inner-content">
    <nz-table #basicTable [nzData]="firstFiveTransactions">
        <thead>
            <tr>
                <th>Name</th>
                <th>Acount</th>
                <th>amount</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
        </thead>  
        <tbody>
            <tr *ngFor="let transaction of firstFiveTransactions">
                <td>{{ transaction.name }}</td>
                <td>{{ transaction.account }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.date | date:'mediumDate'}}</td>
                <td>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nz-button (click)="deleteTransaction('id')" nzType="link">Delete</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>