<div class="form-payment">
    <form class="form-payment" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <div class="form-payment-item">
            <h1><fa-icon [icon]="faMoneyBillTrendUp"></fa-icon> Payment</h1>

            <!-- Name -->
            <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="Name" nzRequired><span>Name</span>
                </nz-form-label>
                <nz-form-control nzHasFeedback [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your name!">
                    <input placeholder="Insert your name" nz-input id="name" formControlName="name" />
                </nz-form-control>
            </nz-form-item>

            <!-- Account -->
            <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="5">Account number</nz-form-label>
                <nz-form-control nzHasFeedback [nzSm]="14" [nzXs]="24" [nzErrorTip]="combineTpl">
                    <input placeholder="Insert your Acount number" (focus)="addSpace();" id="input_n" nz-input name="account" formControlName="account" minlength="16" maxlength="22" required />
                    <ng-template #combineTpl let-control>
                        <ng-container *ngIf="control.hasError('maxlength')">MaxLength is 22</ng-container>
                        <ng-container *ngIf="control.hasError('minlength')">MinLength is 16</ng-container>
                        <ng-container *ngIf="control.hasError('required')">Input is required</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>


            <!-- Amount -->
            <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="5">Amount</nz-form-label>
                <nz-form-control required nzHasFeedback [nzSm]="14" [nzXs]="24" [nzErrorTip]="combineTp2">
                    <nz-space nzDirection="vertical" style="width: 100%">
                        <nz-input-number-group required  nzPrefix="€" style="width: 100%">
                            <nz-input-number  formControlName="amount" [nzStep]="1" required></nz-input-number>
                        </nz-input-number-group>
                    </nz-space>
                    <ng-template #combineTp2 let-control>
                        <ng-container *ngIf="control.hasError('required')">Input is required</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <!-- Description -->
            <nz-form-item>
                <nz-form-label [nzSpan]="5" nzRequired>Description</nz-form-label>
                <nz-form-control nzHasFeedback [nzSm]="14" [nzXs]="24">
                    <textarea placeholder="Make a comment" rows="4" formControlName="description" nz-input></textarea>
                </nz-form-control>
            </nz-form-item>


            <!-- Date -->
            <nz-form-item>
                <nz-form-label [nzSpan]="5" nzRequired>Date</nz-form-label>
                <nz-form-control nzHasFeedback [nzSm]="16" [nzXs]="24">
                    <nz-date-picker formControlName="datePicker"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
        </div>

        <!-- Terms and conditions -->
        <div class="form-payment-item">
            <nz-form-item nz-row class="register-area">
                <nz-form-control nzErrorTip="You have to accept the terms and condicions to proceed" nzHasFeedback [nzSpan]="14" [nzOffset]="6">
                    <h2>Secure payments</h2>
                    <h3>Do you agree with the terms of service and conditions?</h3>
                    <label nz-checkbox formControlName="agree">
                        <span>
                            Terms and conditions that you'll never read and we'll never
                            tell you to. But here it is:
                        </span>
                    </label>
                    <a href="/terms">Terms and conditions.</a>
                </nz-form-control>
            </nz-form-item>

            <!-- Submit button -->
            <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button formAction="/dashboard" nz-button nzType="primary">Complete payment</button>
                </nz-form-control>
            </nz-form-item>
        </div>
    </form>

</div>